<!DOCTYPE html>
<html lang="pt-br">

<head>
    <style>
        body{
            background-color:aquamarine;
            border:none;
        }
        header{
            background-color:orange;
            border:none;
        }
        button:hover{
            background-color: grey;
        }

    </style>
</head>

<header>
    <input type="image" src="logo_usp.png" alt="logo USP">
    <input type="image" src="img_usp.png" alt="USP">
    <hr>
    
</header>

<body>
    <form>
        Login: <input type="text" name="Login:">
        <br>
        senha: <input type="password" name="senha:">
    </form>
    <button>
        login
    </button>
</body>

<footer style="text-align: center">
    <hr>
    <a href="https://uspdigital.usp.br/jupiterweb/jupColegiadoEmailLista">Fale conosco</a>
    <br>
    1999 ~ &infin; - Superintendência
</footer>

</html>